$figure-transition   : 0.4s;
$figure-avatar       : 32 * 8px;
$figure-avatar-small : 8 * 8px;
$figure-easing       : cubic-bezier(.48,-0.01,.47,1.36);

@keyframes figure-in {
  0% {
    opacity: 0.1;
    transform: scale(0.9);
  }

  1000% {
    opacity: 1;
    transform: scale(1);
  }
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  transform: translateZ(0);
  transition: $figure-transition all ease-out;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all;
  }

  img {
    border-radius: 0;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
  }

  &.is-avatar {
    animation: 0.4s figure-in;
    display: inline-block;
    margin: unit(1);
    height: $figure-avatar;
    width: $figure-avatar;

    img {
      border-radius: 50%;
      transition: 0.4s border-radius;
    }

    &.is-small {
      height: $figure-avatar-small;
      width: $figure-avatar-small;
      flex-shrink: 0;
    }
  }

  &.is-hero {
    height: unit(32);
    width: 100%;

    &:after {
      box-shadow: inset 0 -2px 5px rgba(#000, 0.7);
    }
  }
}
